.CardListItem {
  height: 20vh;
  width: 22vw;
  border: 1px solid gainsboro;
  background-color: white;
}

#CardListHeightHolder {
  height: 70vh;
}

.CardListItem:hover {
  border: 1px solid #99cccc;
}

.CardListItemDashBorder {
  border: 1px dashed gainsboro;
}

.TextUnselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TextMiddle {
  height: 100%;
  text-align: center;
}

.TextMiddle:hover {
  color: #99cccc;
}

.TextMiddle::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
